.postForm form{
    width: 75vw;
}
.imageField {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 45vw;
  border: 1px solid rgba(0, 0, 0, 0.227);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  color: rgb(174, 174, 174);
  font-weight: 600;
  overflow: hidden;
}
.imageField > i {
  font-size: 2rem;
  font-weight: 100;
}
.imgPreview {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(174, 182, 200);
}
.imgPreview img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
