* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  height: 100%;
  width: 100%;
}

textarea:focus,
input[type="file"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
}
#main {
  display: flex;
}
.formBac {
  height: 100vh;
  width: 100%;
  background-image: url("../images/singUp.webp");
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
form {
  height: 100%;
}
form > .row {
  width: min(100%, 500px);
}
form > * > * {
  min-width: 150px;
}
form .name > * {
  width: 50% !important;
  min-width: 200px;
}
form label {
  margin-bottom: 0.25rem !important;
}

/* .row {
  display: grid;
  grid-template-columns: repeat(2, min(1fr, 300px));
} */
.formCover {
  width: max(50vw, 500px);
  height: 100vh;
  background-color: #fff;
}
form .mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label,
form button,
form input {
  width: 30vw !important;
  min-width: min(300px, 90vw);
}
form input[type="submit"] {
  text-transform: capitalize;
}
form input[type="submit"]:hover {
  box-shadow: 0px 0px 25px rgba(92, 196, 99, 0.6);
}
form input:focus {
  outline: none !important;
}

@media (max-width: 910px) {
  .formCover {
    width: 100%;
  }
}
