:root {
  --primary: #120e22;
  --secondary: #fffffc;
  --ternary: #d30329;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.bg-danger {
  background-color: var(--ternary) !important;
}
.bg-dark {
  background-color: var(--primary) !important;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
#main {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: initial;
}
/* Auth form */
.sides {
  width: 30vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Auth form */

/* Home */
.sidebar {
  position: fixed;
  top: 0%;
  width: 20vw;
  height: 100vh;
  z-index: 99;
}
.userSection {
  height: 30%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.364);
}

.avatar > * {
  height: 13vh;
  width: 13vh;
  object-fit: contain;
  border: 1px solid rgba(255, 255, 255, 0.562);
  border-radius: 50%;
  background-color: rgb(93, 108, 108);
}
.navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0.364);
}
.sidebar button {
  padding-left: 2vw;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.sidebar button:hover {
  background-color: rgb(71, 79, 88);
}
.sidebar button h5 {
  color: rgba(255, 255, 255, 0.765);
  font-weight: 400;
}
svg {
  height: 3vh;
  width: 3vh;
  object-fit: contain;
}

.feed {
  width: 55vw;
  margin-left: 20vw;
  margin-right: 25vw;
  background-color: var(--secondary);
}
.feed .topBar {
  position: sticky;
  top: 0%;
  background-color: #fffffc;
}
.activity {
  z-index: 999;
  position: fixed;
  top: 0%;
  right: 0%;
  width: 25vw;
  height: 100vh;
  background-color: rgb(242, 242, 242);
  border-left: 1px solid rgba(0, 0, 0, 0.28);
}
/* Home */
